@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
#otes{
    position:absolute;width:60%;height:600px;
    transform:translate(-50%,-50%);left:50%;top:50%;
}
#back{
    position: fixed;right:0px;top:0px;font-family:"Poppins",sans-serif;font-weight:bolder;text-align: center;
    line-height: 40px;
    border-radius: 0px 0px 0px 20px;width:90px;height:50px;box-shadow: 10px 10px 40px lightgrey;
}
#head{
    position:fixed;width:200px;height:70px;border-radius: 0px 0px 20px 0px;
    box-shadow: 10px 10px 30px lightgrey;top:0px;left:0px;text-align: center;
    line-height:70px;text-shadow: 10px 10px 50px lightgrey;color:rgb(255, 75, 75);
    font-size:40px;font-weight: bolder;font-family:"Raleway",sans-serif;
    background-color: white;z-index:2;
}
a{
    color:black;text-decoration: none;
}
#otes li{
    list-style-type: none;
}
#HTML li:hover, #HTMLO li:hover{
    box-shadow:10px 10px 60px rgb(148, 148, 148);
}
#HTML{
    width:100%;margin-top:-4%;
}
#HTML li,#HTMLO li{
   display:inline-flex; width:200px;height:200px;border-radius: 20px;
   margin-left: 20px;text-align: center;margin-top:25px;
   -webkit-box-shadow:4px 5px 26px lightgrey;
}
#he, #heo{
    margin-left:1%;margin-top:2%;font-size: 40px;
    font-family: 'Raleway', sans-serif;
}
#heo{
    margin-top: 40px;
}
#HTMLO{
    margin-top:-3%;
}
#HTML li a{
    text-align: center;margin-left: 10%;margin-top:80%;
    font-family: 'Poppins', sans-serif;font-weight: bolder;
    font-size:15px;
}
#HTMLO li a{
    text-align: center;margin-left: 7%;margin-top:80%;
    font-family: 'Poppins', sans-serif;font-weight: bolder;
    font-size:15px;
}
#HTML li:nth-child(1){
    background-image:url("https://i.ytimg.com/vi_webp/npxhI9-Vi4A/mqdefault.webp");
    background-position:-10px 0px;background-repeat: no-repeat;background-size: 110%;
}
#HTML li:nth-child(2){
    background-image:url("https://i.ytimg.com/vi_webp/Ydz-zLmOgQY/mqdefault.webp");
    background-position: -10px 0px;background-repeat: no-repeat;background-size: 110%;
}
#HTML li:nth-child(3){
    background-image:url("https://i.ytimg.com/vi/uXAd5VycRw0/mqdefault.jpg");
    background-position: -10px 0px;background-repeat: no-repeat;background-size: 110%;
}
#HTMLO li:nth-child(1){
    background-image:url("https://i.ytimg.com/vi_webp/eLXqFer0DjI/mqdefault.webp");
    background-position: -10px 0px;background-repeat: no-repeat;background-size: 110%;
}
#HTMLO li:nth-child(2){
    background-image:url("https://i.ytimg.com/vi_webp/SOrAdTnwGwQ/mqdefault.webp");
    background-position: -10px 0px;background-repeat: no-repeat;background-size: 110%;
}
#HTMLO li:nth-child(3){
    background-image:url("https://i.ytimg.com/vi_webp/siV-VEW4010/mqdefault.webp");
    background-position: -10px 0px;background-repeat: no-repeat;background-size: 110%;
}
#HTMLO li:nth-child(4){
    background-image:url("https://i.ytimg.com/vi_webp/xx8Sf3R13A8/mqdefault.webp");
    background-position: -10px 0px;background-repeat: no-repeat;background-size: 110%;
}